{{define "create"}}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>PacketFlagon | Create a Proxy Config</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Create your own personalised PAC file">
<link rel="canonical" href="https://{{.FQDN}}:{{.ListenPort}}/create" />
<meta name="author" content="Brass Horn Communications @BrassHornComms">

<link href='//{{.FQDN}}:{{.ListenPort}}/css/gfontlocal.css' rel='stylesheet' type='text/css'>

<link href="//{{.FQDN}}:{{.ListenPort}}/css/bootstrap.css" rel="stylesheet">
<link href="//{{.FQDN}}:{{.ListenPort}}/css/font-awesome.min.css" rel="stylesheet">
<link href="//{{.FQDN}}:{{.ListenPort}}/css/theme.css" rel="stylesheet">
<link href="//{{.FQDN}}:{{.ListenPort}}/css/colour.css" rel="stylesheet" type="text/css"/>
<link rel="icon" type="image/ico" href="//{{.FQDN}}:{{.ListenPort}}/css/favicon.ico">
</head>

<body>
<!--header-->
  <div class="header">
<!--menu-->
    <nav id="main_menu" class="navbar" role="navigation">
      <div class="container">
            <div class="navbar-header">
        <!--toggle-->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
        <i class="fa fa-bars"></i>
      </button>
    <!--logo-->
      <div class="logo">
        <a href="http://{{.FQDN}}:{{.ListenPort}}/"><img src="//{{.FQDN}}:{{.ListenPort}}/css/logo.png" alt="" class="animated bounceInDown" /></a> 
      </div>
    </div>
           
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav pull-right">
                <li><a href="http://{{.FQDN}}:{{.ListenPort}}">Home</a> </li>
<li><a href="//{{.FQDN}}:{{.ListenPort}}/about/">About</a> </li>
<li><a href="//{{.FQDN}}:{{.ListenPort}}/create/">Create</a></li>
<li class="dropdown"><a href="javascript:{}">How-to...</a>
<ul class="dropdown-menu">
<li><a href="https://packetflagon.is/how-to/configure-chrome/">Configure Chrome</a></li>
<li><a href="https://packetflagon.is/how-to/configure-firefox/">Configure Firefox</a></li>
<li><a href="https://packetflagon.is/how-to/configure-safari/">Configure Safari</a></li>
<li><a href="https://packetflagon.is/how-to/configure-internet-explorer/">Configure IE</a></li>
<li><a href="https://packetflagon.is/how-to/create-tor-proxy/">Create a local Tor Proxy</a></li>
<li><a href="https://packetflagon.is/how-to/create-socks5-proxy/">Create a SOCKS5 Proxy</a></li>
<li><a href="https://packetflagon.is/how-to/find-pac-frontends/">Find other ProxyShards</a></li>
<li><a href="https://packetflagon.is/how-to/create-shard/">Create a ProxyShard</a></li>
</ul>
</li>

            </ul>
  </div>
  </div>
  </nav>
    </div>
  <!--//header-->

  <!--page-->
  <div id="banner">
    <div class="container intro_wrapper">
      <div class="inner_content">
        <h1>The first condition of progress is the removal of censorship.</h1>
          <h1 class="title">Create your Own Proxy PAC</h1>
            <h1 class="intro">
              It doesn't matter if you want to reach <span>thepiratebay.org</span>, a website about <span>sexual</span> health, or reddits <span>/r/conspiracy</span> <span class="hue">censorship</span> has no place on our Internet.
            </h1>
          </div>
        </div>
      </div>
      
    <div class="container wrapper pad10">
      <div class="inner_content">
        <div class="row pad10">
          <div class="col-sm-6 col-md-4">
          <h3>
            To create your own customised Proxy configuration simply fill in the details on the right and click <span>Create</span><br/><br/>
            Ensure that each domain is separated with a comma ( <span>,</span> ) and don't include the http:// or //
          </h3>
        
          <br/><br/>  
          <h5>
            <span>Notes:</span><br>
            The friendly name, description and password are optional.<br>
            <br/>
            Choosing <span class="hue">Yes</span> to "Use a local SOCKS Proxy" will require the creation of a local <a href="https://packetflagon.is/how-to/create-tor-proxy">Tor</a> <em>(or <a href="https://packetflagon.is/how-to/create-socks5-proxy">another SOCKS5</a>)</em> Proxy<br/><em>( It is recommended that you do this! )</em><br>
          </h5>
          <br/><br/>  
          <h5>
            If you have any trouble; send an email to <a href="mailto:Security@RoutingPacketsIsNotACrime.uk">Security@RoutingPacketsIsNotACrime.uk</a>, or tweet to <a href="//twitter.com/PacketFlagon">@PacketFlagon</a> or jump on #RoutingPacketsIsNotACrime on freenode.
          </h5>
        </div>
        
        <div class="col-sm-6 col-md-8">
                    
          <div class="contact_form">  
          <div id="note"></div>
          <div id="fields">
        <form id="ajax-contact-form" method="POST">
          <p class="form_info">friendly name</p>
            <input class="col-xs-12 col-sm-12 col-md-8" placeholder="An optional friendly name for your proxy config" type="text" name="name" value="" />
          <p class="form_info">description</p>
            <input class="col-xs-12 col-sm-12 col-md-8" type="text" placeholder="An optional description of this proxy config" name="desc" value=""  />
          <p class="form_info">password</p>
            <input class="col-xs-12 col-sm-12 col-md-8" type="password" placeholder="An optional  password to write protect this proxy config" id="hash_password" name="password" value="" /><br>
          <br/>
          <hr/>
          <p class="form_info">List of URLs</p>
            <textarea name="urls" id="urls" placeholder="A comma separated list of domains e.g.
google.com, facebook.com, thepiratebay.org" class="col-xs-12 col-sm-12 col-md-12" ></textarea>
        
          <p class="form_info">Use a local SOCKS Proxy</p>  
          <input type="radio" name="use_tor_proxy" value="yes"> Yes<br>
          <input type="radio" name="use_tor_proxy" value="no" checked> No
          <br/>
            <div class="clear"></div>
      
          <input type="submit" class="btn btn-primary btn-form marg-right5" value="Create" />
          <input type="reset" class="btn btn-primary btn-form" value="reset" />
        <div class="clear pad45"></div>
      </form>
    </div>
  </div>                   
  </div>                  
    </div>
      </div>
        </div>
        <!--//page-->

      <!--footer-->
    <div id="footer2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <div class="copyright">
                      This software was written by Brass Horn Communications
        </div>
        </div>
          </div>
        </div>
          </div>
        <!-- up to top -->
        <a href="#"><i class="go-top fa fa-angle-double-up"></i></a>
        <!--//end--> 
</body>
</html>
{{end}}
