{{define "view"}}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>PacketFlagon | Custom PAC Proxies</title>
<meta name="vie.ListenPort" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Build your own custom PAC proxy to bypass UK Internet censorship!">
<meta name="author" content="Brass Horn Communications @BrassHornComms">
<link href='//{{.FQDN}}:{{.ListenPort}}/css/gfontlocal.css' rel='stylesheet' type='text/css'>

<link href="//{{.FQDN}}:{{.ListenPort}}/css/bootstrap.css" rel="stylesheet">
<link href="//{{.FQDN}}:{{.ListenPort}}/css/font-awesome.min.css" rel="stylesheet">
<link href="//{{.FQDN}}:{{.ListenPort}}/css/theme.css" rel="stylesheet">
<link href="//{{.FQDN}}:{{.ListenPort}}/css/colour.css" rel="stylesheet" type="text/css"/>
<link href="//{{.FQDN}}:{{.ListenPort}}/css/timeline.css" rel="stylesheet" type="text/css" />
<link rel="icon" type="image/ico" href="//{{.FQDN}}:{{.ListenPort}}/css/favicon.ico">
</head>

<body>

<!--header-->
  <div class="header">
<!--menu-->
    <nav id="main_menu" class="navbar" role="navigation">
      <div class="container">
            <div class="navbar-header">
        <!--toggle-->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
        <i class="fa fa-bars"></i>
      </button>
    <!--logo-->
      <div class="logo">
        <a href="//{{.FQDN}}:{{.ListenPort}}/"><img src="//{{.FQDN}}:{{.ListenPort}}/css/logo.png" alt="" class="animated bounceInDown" /></a> 
      </div>
    </div>
           
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav pull-right">
                <li><a href="http://{{.FQDN}}:{{.ListenPort}}">Home</a> </li>
<li><a href="//{{.FQDN}}:{{.ListenPort}}/about/">About</a> </li>
<li><a href="//{{.FQDN}}:{{.ListenPort}}/create/">Create</a></li>
<li class="dropdown"><a href="javascript:{}">How-to...</a>
<ul class="dropdown-menu">
<li><a href="//{{.FQDN}}:{{.ListenPort}}/how-to/configure-chrome/">Configure Chrome</a></li>
<li><a href="//{{.FQDN}}:{{.ListenPort}}/how-to/configure-firefox/">Configure Firefox</a></li>
<li><a href="//{{.FQDN}}:{{.ListenPort}}/how-to/configure-safari/">Configure Safari</a></li>
<li><a href="//{{.FQDN}}:{{.ListenPort}}/how-to/configure-internet-explorer/">Configure IE</a></li>
<li><a href="//{{.FQDN}}:{{.ListenPort}}/how-to/create-tor-proxy/">Create a local Tor Proxy</a></li>
<li><a href="//{{.FQDN}}:{{.ListenPort}}/how-to/create-socks5-proxy/">Create a SOCKS5 Proxy</a></li>
<li><a href="//{{.FQDN}}:{{.ListenPort}}/how-to/find-pac-frontends/">Find other ProxyShards</a></li>
<li><a href="//{{.FQDN}}:{{.ListenPort}}/how-to/create-shard/">Create a ProxyShard</a></li>
</ul>
</li>

    </ul>
          </div>
        </div>
      </nav>
    </div>
  <!--//header-->
  
  <!--page--> 
  <div id="banner">
    <div class="container intro_wrapper">
      <div class="inner_content">
        <h1>The Net interprets censorship as damage and routes around it.</h1>
          <h1 class="title">{{.PAC.Name}}</h1>
            <h1 class="intro">{{.PAC.Description}}</h1>
          </div>
        </div>
      </div>
    <div class="container wrapper">
  <div class="inner_content">
  
  <!-- sidebar -->
    <div class="row pad30">
      <div class="col-md-3">
       <h4><span>Meta Details:</span></h4>
        <p>Some PAC files have custom configurations, check that this one does what you expect:</p>
        
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-square-o colour"></i> Uses a local Proxy?</li>
          <li><i class="fa-li fa fa-check-square-o colour"></i> Locally stored?</li>
          <li><i class="fa-li fa fa-square-o colour"></i> Synced to cloud?</li>
        </ul>
        
        <div class="alert alert-warning"><span>Warning:</span> Ensure you check all the URLs this proxy file is redirecting. Your privacy is at risk!</div>     
  
        <div class="pad10"></div>
    
      <!--<h4><span>Clone this PAC</span></h4>
      <p>Cloning this PAC allows you to create your own version, add or remove URLs, set your own password etc. It does not affect the original version.</p>

      <a href="//{{.FQDN}}:{{.ListenPort}}/create/b718ce9b276bc2f10af90fe1d5b33c0d"><button type="button" class="btn btn-primary btn-lg"><i class="fa fa-code-fork"></i> &nbsp; Clone</button></a>

      <div class="pad15"></div>
      
      <h4><span>Push PAC to Amazon S3</span></h4>
                        <p>Pushing this PAC file to Amazons S3 cloud storage platform creates a unique URL that makes it more difficult for ISPs to block.</p>

                        <a href="javascript:void(0)" onclick="PushToS3('b718ce9b276bc2f10af90fe1d5b33c0d');"><button type="button" class="btn btn-primary btn-lg"><i class="fa fa-cloud-upload"></i> &nbsp; Push to S3</button></a>

        
      <div class="pad15"></div>
      -->
      <h4><span>Edit Controls:</span></h4>  
        <p>If you know the password for this PAC ensure you enter it below before attempting to make any changes.</p>
        

        <input type="password" id="edit_password" placeholder="Password (if set)"></input>

        <div class="pad15"></div>

        <p>
          <!-- <a href="//twitter.com/PacketFlagon" class="zocial icon twitter"></a>  -->
        </p>    
          </div>
      
      <div class="col-md-9 pad15">
      <!-- sidebar -->
      
      <h2><span>PAC: {{.PAC.ID}}</span></h2>
      
      <p>
        The unique URL to add to your browser proxy configuration is:<br/><strong>http://{{.FQDN}}:{{.ListenPort}}/pac/{{.PAC.ID}}</strong>
      </p>
      
      <p>
        By adding this PAC file to your browsers Proxy configuration the URLs listed below will be proxied through our servers which in most cases will bypass any blocking.
      </p>

      <p>
        See the how-to section for advice on how to do this.
      </p>
      
      <!-- URLS -->
      <div class="col-md-6">
        <span>URLs in this PAC File:</span>
        <table class="table table-striped">
                          <thead>
                              <tr>
                                  <th>#</th>
                                  <th style="width:60%;">URL</th>
            <th style="text-align:center;">Blocked<br/>by ISPs?</th>
                                  <th style="text-align:center;">Remove</th>
                                </tr>
                            </thead>
                            <tbody>

                    {{ range $key, $url := .PAC.URLs }}
                    <tr id="row-{{ $key }}">
                      <td>{{ $key }}</td>
                      <td>{{ $url }}</td>
                      <td style="text-align:center;"><a href="javascript:void(0)" onclick="CheckURL('{{ $url }}');" data-rel="tooltip" data-placement="right" title="Unknown. Click to check with the PacketFlagon API (makes an external call!)"><i class="fa fa-question" style="color:orange"></i></a></td>
                      <td style="text-align:center;"><a href="javascript:void(0)" onclick="RemoveURL('{{ $url }}',{{ $key }},'pacid');"><i class="fa fa-chain-broken"></i></a></td>
                    </tr>
{{end}}

          </tbody>
       </table>
      </div>  
      <!-- End URLS -->

      <!-- Add URLs -->
      <div class="col-md-6">
        <span>Add Additional URLs</span>
                          <div class="contact_form">
                                        <div id="fields">
                                    <form id="ajax-contact-form">
                                                  <textarea name="urls" id="urls" placeholder="A comma separated list of domains e.g.
google.com, facebook.com, thepiratebay.org" class="col-xs-12 col-sm-12 col-md-12" ></textarea>

                                                <div class="clear"></div>
          
          <a href="javascript:void(0)" onclick="AddURLs('b718ce9b276bc2f10af90fe1d5b33c0d');"><button type="button" class="btn btn-primary btn-lg">Add URLs</button></a>
          </div>
        </div>
        <br/>
        <div id="note"></div>
      </div>
      <!-- End Add URLs -->
    
      <!-- Comments -->
     <div class="col-md-12 pad15" id="disqus_thread">
                    <!--<button type="button" onclick="loadComments();" class="btn btn-warning">Load Comments</button>-->
      </div>
                  <!-- /coments --> 
    </div>
      </div>
        </div>
          </div>
            <div class="pad45 hidden-md hidden-lg"></div>
          <!--//page-->
            
      <!--footer-->
    <div id="footer2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            ISP blocking information provided by the <a href="//www.openrightsgroup.org/">OpenRightsGroup</a> | #RoutingPacketsIsNotACrime    
          </div>
        </div>
          </div>
        </div>
          </div>
        <!-- up to top -->
        <a href="#"><i class="go-top fa fa-angle-double-up"></i></a>
        <!--//end-->  
          
<!-- scripts -->
        <script type="text/javascript">
function RemoveURL(URL,ID,H)
{

/*        var combinedObj = {'password': $("#edit_password").val(), 'url': URL, 'update': 'remove_url', 'ID': ID, 'hash': H };
        var str = "hello";
        $.ajax({
type: "POST",
url: "//{{.FQDN}}:{{.ListenPort}}/update_pac.php",
data: combinedObj,
contentType: "application/x-www-form-urlencoded",
success: function(msg)
{
var jsonMsg = $.parseJSON(msg);
if(jsonMsg.success)
{
result = '<div id="notif" class="notification_ok">URL removed, it will take up to 5 minutes for all proxy servers to update.</div>';
$("#row-"+ID).fadeOut(2000);
}
else
{
result = '<div class="alert alert-danger">' + jsonMsg.message +'</div>'
}
$('#note').html(result);
window.setInterval(function(){$('#notif').fadeOut(2000); window.clearInterval(this);}, 5000);
},
error: function(a, b, c)
{
        console.log(a);
        console.log(b);
        console.log(c);
}
});*/
alert('Functionality not completed yet');
}

function AddURLs(H)
{
/*        var combinedObj = {'password': $("#edit_password").val(), 'urls': $("#urls").val(), 'update': 'add_url', 'hash': H };
        $.ajax({
type: "POST",
url: "//{{.FQDN}}:{{.ListenPort}}/update_pac.php",
data: combinedObj,
contentType: "application/x-www-form-urlencoded",
success: function(msg)
{
var jsonMsg = $.parseJSON(msg);
if(jsonMsg.success)
{
result = '<div class="notification_ok">Your additional URLs have been added, it will take a few minutes for all PAC and proxy servers to update.</div>';
}
else
{
result = '<div class="alert alert-danger">' + jsonMsg.message +'</div>'
}
$('#note').html(result);
},
error: function(a, b, c)
{
console.log(a);
console.log(b);
console.log(c);
}
});
*/
alert('Functionality not completed yet');
}

function CheckURL(url)
{
alert('Functionality not completed yet');
}

</script>


</body>
</html>

{{end}}
